*{
	font-family: "Baloo Paaji";
	
}
body{
	background: #E3F5FF
}
/*-------------------COMUN----------*/
header span,h1,h4{
	color: #E56150
}
header,.live .container,footer,.bloque{
	background: rgb(12,118,142);
}
.container{
	width:1000px
}
img{
	width: 100%
}
.navbar{
	margin-bottom: 0
}

/*-------------------HEADER---------*/
header a,p{
	color:white
}
header{
	padding: 10px 0
}
/*--------------------HERO----------*/
.hero .container{
	background: url(../img/img-1.jpg);
	background-size: cover
}
.titulo{
	width: 800px;
	margin: 80px 9%;
	padding: 30px ;
	background-color: rgba(12,118,142,.8);
}
h1{
	padding: 30px 0 40px 0;
	font-size: 60px
}
/*-------------------TALES----------*/
.tales{
	padding: 20px
}

.bloque h4{
	padding: 10px 0 20px 0
}
.bloque p{
	line-height: 2em
}
.tales .peque p{
	padding-bottom: 27px
}
/*--------------------LIVE----------*/
.live .container{
	padding: 25px
}
input{
	border: 26px solid #E0F8F7;
	border-radius: 5px;
	width: 100%;
	padding: 20px;
	margin-bottom: 8px
}
.f1-c1,.f1-c2,.f2-c1,.f2-c2{
	background: #E0F8F7;
}
.live p{
	color: black;
	padding: 10px
}
.live i{color:rgb(12,118,142);}

.live li{
	margin: 30px 20px;
	padding: 7px;
	border-radius: 50px;
	background: white;
}
.live ul{padding-left: 50px}

iframe{
	margin-top: -50px;
	width: 100%;
	height: 315px
}
.col-md-7{padding-right: 7px}

.col-md-5{padding-left: 7px}
/*-------------------MARCO----------*/
.marco img{
	width: 150px;
	margin-top: 20px
}
/*-------------------FOOTER---------*/
footer{
	color: white;
	padding: 40px;
	border-top: 4px solid #E56150
}
